@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');
*{
    box-sizing: border-box;
}
header,
section{
    overflow-x:hidden ;
}
:root{
    --single-font:"sniglet",cursive;
    --Rubik:"Rubik",cursive;
    --Patua:"Patua one",cursive;
    --Lobster:"Lobster",cursive;
    --light-black:#2e2c2caf;
    --bggradient:linear-gradient(to bottom: color );


    --light-gray: rgba(255,255,255,0)
    
}
.header{
    font-family: var(--sibgle-font);
    font-size: 0.9em;
    color: whitesmoke;
}
header{
    background-color: #dd2476;
    background: var(--bggradient);
}
.dropdown-content{
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
