@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');
*{
    box-sizing: border-box;
}
header,
section{
    overflow-x:hidden ;
}
:root{
    --single-font:"sniglet",Poppins;
    --Rubik:"Rubik",Poppins;
    --Patua:"Patua one",Poppins;
    --Lobster:"Lobster",Poppins;
    --light-black:#2e2c2caf;
    --bggradient:linear-gradient(to bottom: color );


    --light-gray: rgba(255,255,255,0)
    
}
header{
    font-family: var(--single-font);
    font-size: 0.9em;
    color: rgb(148, 122, 122);
}
header{
    background-color: #dacbd2;
  ;
}
.dropdown-content{
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.col-md-7{ margin-top: 250px;
    
    padding: 50px;
    font-size: 25px;
}
